@charset "utf-8";

body{
    font-family: 'Pretendard';
    color: #232323;
}

body{
    &.on{
        #headerArea{
            background: rgba(0,0,0,.7);
        }
    }
}

.inner{
    width: 90%;
    margin: 0 auto;

}

.no-scroll {
    overflow: hidden;
}

#header {
    width: 100%;
    height: 100px;
    background: orange;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    @media (max-width:1200px) {
        height: 80px;
    }
    .headerwrap {
        width: calc(100% - 20px);
        max-width: 1720px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1.logo {
            a {
                img {
                }
            }
        }

        nav {
            @media (max-width:1200px) {
                display: none;
            }

            ul.gnb {
                display: flex;
                align-items: center;
                
                > li {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    > a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100px;
                        padding: 0 30px;
                        transition: color 0.5s, background 0.5s;

                        &:hover {
                            background: rgba($color: #000, $alpha: 0.5);
                            color: #fff;
                        }
                    }

                    ul.depth2 {
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        transform: translateX(-50%);
                        width: 150%;
                        background: rgba($color: #000000, $alpha: 0.5);
                        display: none;
                        li {
                            width: 100%;
                            a {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 20px 0;
                                transition: 0.5s;

                                &:hover {
                                    background: rgba($color: #000, $alpha: 0.5);
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .m_wrapper_btn {
            position: relative;
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            display: none;

            @media (max-width:1200px) {
                display: flex;
            }

            .m_menu_ico {
                position: relative;
                width: 40px;
                height: 30px;
                margin: auto;
                display: flex;
                align-items: center;
                transform: rotate(0);
                transition: 0.3s;

                span {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: #000;
                    border-radius: 30px;
                    transition: 0.3s;

                    &:nth-child(1) {
                        top: 0;
                        left: 0;
                        width: 50%;
                        transform: translateY(0);
                    }
                    &:nth-child(2) {
                        width: 100%;
                        transform: scaleX(1);
                        opacity: 1;
                    }
                    &:nth-child(3) {
                        bottom: 0;
                        right: 0;
                        width: 50%;
                        transform: rotate(0);
                    }
                }

                &.active {
                    transform: rotate(45deg);

                    span {
                        &:nth-child(1) {
                            width: 100%;
                            transform: translateY(13px);
                        }

                        &:nth-child(2) {
                            transform: scaleX(0);
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            width: 100%;
                            transform: rotate(90deg);
                            bottom: 13px;
                        }
                    }
                }
            }
        }
    }
}

//모바일메뉴
.mgnb_wrap{
    position: fixed;
    left: 0;
    top: 80px;
    width: 100vw;
    height: calc(100vh - 80px);
    background: rgba($color: #232323, $alpha: .5);
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    
    &.on{
        pointer-events:auto;
        opacity: 1;
    }

    nav{
        width: 100%;
        height: 100%;
        position: relative;

        ul.mgnb{
            width: 80%;
            height: 100%;
            background: #eee;
            position: absolute;
            right: -100%;
            top: 0;
            transition: all .5s;

            &.on{
                right: 0;
            }
            >li{
                width: 100%;
                
                >a{
                    padding: 20px 0;
                    padding-left: 20px;
                    font-size: 1.125rem;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                }

                .depth2{
                    display: none;
                    width: 100%;
                    li{
                        width: 100%;
                        border-bottom: 1px solid #232323;
                        a{
                            padding-left: 30px;
                            display: flex;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}


#topBtn {
    border:1px solid #6F4498;
    background-color: #fff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:540px) {
        width: 48px;
        height: 48px;
    }
    a{
        color: #6F4498;
        font-weight: 800;
    }
    &.go_top{
        
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 99;
        top: auto;
        transform:translateY(100px);
        opacity: 0;
        transition: transform 300ms ease;
        &.on{
            transform:translateY(0px);
            opacity: 1;
        }
    }
    i{
        display:block;
        width: 5px;
        height: 5px;
        margin: 0 auto;
        width: 10px;
        height: 10px;
        border-top: 2px solid #6F4498;
        border-right: 2px solid #6F4498;
        transform: rotate(-45deg);
      
    }
    span{
        display: block;
        text-align: center;
    }
}
