
@charset "utf-8";
/*-------------------------------------------------
Style Sheet
Version : 1.0
Author : 정자연
Create date : 2018. 06. 30.
-------------------------------------------------*/
@media (max-width:768px) {
    br.m9{
        display: none;
    }
}

/* layout */
.main-se-title h4 {
    text-align: center;
    font-size:28px;
    font-weight:600;
    padding:30px 0;
    box-sizing: border-box;
    
}
.munhwa-number {
    color:#65aadd;color:#65aadd;
}

#content {
	width: 100%;
	min-width: 1240px;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.main-container {
	width: 100%;
	max-width: 1240px;
	margin: auto;
}
.mir-container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 60px 0;
}

.m-language{text-align:right; display:none;}
.m-language ul{display:inline-block;}
.m-language li{
    float:left;
}
.m-language li a{
    display:block;
    padding:3px 20px;
    box-sizing:border-box;
    border:1px solid #008ae3;
}
.m-language li a.on{
    background:#008ae3;
    color:#fff;
}


/*header*/
#top-nav{
    background: #d8d8d8;
    width: 100%;
    min-width: 1240px;
    display:none;
}
#top-nav .top-menu{
    float: right;
    margin-right: 20px;
}
#top-nav a{
    font-size: 12px;
    background: #fff;
    border: 1px solid #008ae3;
    color: #5b5b5b;
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding: 0 23px;
    margin: 10px 0;
}
#top-nav a.con{
    background: #008ae3;
    color: #fff;  
}
#top-nav a:last-child{
    border: none;
    background: none;
    padding: 2px 12px;
}
#Header{
    position: absolute;
    z-index: 999;
    width: 100%;
    min-width:1240px;
    box-shadow:1px 0 5px #000;
}

/* navigation */
.rel-box{display:inline-block;}
.gnbWrap { height: 100px; z-index:1000; position:relative;}
.gnbWrap h1 {position:absolute; padding: 16px 12px; }
.gnbWrap nav {text-align: center; height:100px; width:100%; min-width:1240px;}
.gnbMenu {display: inline-block; position:relative;padding-left:50px;box-sizing:border-box;}
.gnbMenu > li {float: left; text-align: center; position:relative;}
.gnbMenu > li > a {display:block; font-size:16px; font-weight: 400; color: #fff; line-height:100px; box-sizing:border-box; background:url(/images/common/bg-line-nav.gif) no-repeat center right;}
.gnbMenu > li:last-child a {background:none;}
.gnbMenu > li > a:hover {box-sizing:border-box; border-bottom:solid 4px #ffad43; transition:all 0.1s ease; color:#ffad43; }
/*.gnbMenu > li:hover a{font-weight: 600;}*/
.gnbMenu > li:nth-of-type(1){
    width:150px;
}
.gnbMenu > li:nth-of-type(2){
    width:130px;
}
.gnbMenu > li:nth-of-type(3){
    width:120px;
}
.gnbMenu > li:nth-of-type(4){
    width:130px;
}
.gnbMenu > li:nth-of-type(5){
    width:130px;
}
.gnbMenu > li:nth-of-type(6){
    width:150px;
}



.left-left {
    text-align:left;
}










.language{
    /* position:absolute;
    top:40px;
    right:0; */
}
.language ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.language ul li{
    position: relative;
}
.language ul li a{
    color: #fff;
 
}   
.language ul li a:first-child{
    padding: 0 20px 0 0;
}
.language ul li:first-child:after{
    content: "";
    display: block;
    width: 1px;
    height: 13px;
    position: absolute;
    top:3px;
    right: 8px;
    background: #fff;
}
.language .select-box select{
    padding:3px 40px 3px 20px;
    box-sizing:border-box;
    border-radius:0; /* 아이폰 사파리 보더 없애기 */ 
    -webkit-appearance:none; /* 화살표 없애기 for chrome*/
    -moz-appearance:none; /* 화살표 없애기 for firefox*/
    appearance:none; /* 화살표 없애기 공통*/
    background:url(../img/down-arrow.png) no-repeat right 20px center;
    color:#fff;
    border:1px solid #fff;
}
.language .select-box select option{
    color:#000;
}

.language .select-box select::-ms-expand{ display:none /* 화살표 없애기 for IE10, 11*/ }


.navbar-toggle  {display:none;}

/*
.gnbWrap.fixed {position: fixed; top:0; background-color: #000; transition:all 0.5s ease; height:60px;}
.gnbWrap.fixed .all-toggle {top:60px}
.gnbWrap.fixed nav {height:60px}
.gnbWrap.fixed .gnbMenu > li a {display: block; font-size:16px; font-weight: 400; color: #fff; line-height:58px; float: left; box-sizing:border-box;}
.gnbWrap.fixed .gnbMenu > li a:hover {border-bottom:solid 4px #19bcff; transition:all 0.1s ease; color:#19bcff; }
.gnbWrap.fixed .sideLogin {position: absolute; top: 8px; right:15px}
.gnbWrap.fixed .sideLogin .info-login {position: static;  width: 45px;  height: 45px;   text-indent: -5000em;   border: 0; background:url(/images/common/icon-outlogin.png) no-repeat center;  background-color:#0d8283; border-radius: 50px; }
.gnbWrap.fixed h1 {position:absolute; padding:7px; }
.gnbWrap.fixed h1 img {width:170px;}
*/
.nav-bg{
    position: absolute;
    width: 100%;
    top:100px;
    left: 0px;
    background: #fff;
    height: 0;
    z-index: 10;
    transition:all 0.3s ease;
}
.rel-box{display:inline-block; position:relative;}
/*
.all-toggle {position:absolute; width:804px; top: 100px; left:0;overflow:hidden; background:#fff;  z-index:999; box-sizing:border-box; height: 220px;}
.all-toggle .toggle-container {min-width:1240px; margin:0 auto; position:relative;}
.all-toggle .toggle-container > ul { width:159.55;float:right; height:315px; box-sizing:border-box; overflow:hidden; border-right:solid 1px #ccc}
.all-toggle .toggle-container > ul:first-child {border-right:solid 1px #ccc}
.all-toggle .toggle-container > ul li {width: 150px; padding: 12px 0;}
.all-toggle .toggle-container > ul li a {font-size:15px; color: #444; display:block; text-align:center; font-weight:500}
.all-toggle .toggle-container >   ul li a:hover {color: #204099;}
.one {height:220px; transition:all 0.3s ease}
.offe {height:0px; transition:all 0.3s ease}
*/
.all-menu{
    display:inline-block;
    text-align:center;
    /* padding-left:50px;
    box-sizing:border-box; */
}
.all-menu ul{
    display:block;
    height:100%;
    float:left;
    box-sizing:border-box;
}
.all-menu ul:hover{
    background:rgba(255,255,255,.5);
}
/* .all-menu ul:nth-of-type(1){
    width:150px;
}
.all-menu ul:nth-of-type(2){
    width:130px;
}
.all-menu ul:nth-of-type(3){
    width:120px;
}
.all-menu ul:nth-of-type(4){
    width:130px;
}
.all-menu ul:nth-of-type(5){
    width:130px;
}
.all-menu ul:nth-of-type(6){
    width:150px;
} */
.all-menu ul li a{
    display:block;
    font-size:16px;
    color:#fff;
    box-sizing:border-box;
    padding:15px 0;
}
.all-menu ul li a:hover{
    background:#2a86bf;
}
.all-menu-bg{
    position:absolute;
    top:100px;
    left:0;
    width:100%;
    height:217px;
    background:rgba(0,0,0,.75);
    z-index:9;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    box-sizing:border-box;
}

.sub-menu {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,.6);
    box-sizing: border-box;
    display: none;
    z-index: 999999;
    border:1px solid #fff;
    
}
.sub-menu ul {
	box-sizing: border-box;
}
.sub-menu ul li {
	width: 170px;
    text-align: center;
    box-sizing: border-box;
}
.sub-menu ul li a{
    display:block;
    padding:10px;
    box-sizing:border-box;
    font-weight:400;
    font-size:14px;
    color:#333;
}
.sub-menu ul li a:hover{
    color:#000;
    background:#f0f0f0;
}

/*.gnbMenu > li:hover .sub-menu{display:block;}*/

/*
#Header:hover .nav-bg{
    height: 220px;
    transition:all 0.3s ease
}
*/




/*footer*/
#footer-slide{
    border-top:2px solid #636363;
    box-sizing: border-box;
    padding: 20px 0;

}
.footer-slide-item{
    float: left;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
}
.footer-slide-item img{
    width: 100%;
}


.footer .txt-box{
    float: right;
    padding: 5px 0;
    text-align: left;
}
.footer .txt-box p{
    font-size: 13px;
    color: #9e9e9e;
}
.footer .txt-box p.p2{
    color: #000;
}
.footer .txt-box p.p2 span{
    color: #ffa200;  
}


/*sub tab 2개일때*/
.tab-menu{
    width: 100%;
    border-radius: 5px;
    background: linear-gradient( to top, #6F3E99, #654567 );
    box-sizing: border-box;
    border-radius: 0;
    /* margin-top: -38px; */
    /* padding: 7px; */
}
.tab-menu ul li{
    float: left;
    width: 23%;
    box-sizing: border-box;

    padding: 16px 0;
    text-align: center;
    color: #fff;
}
@media (max-width:1280px) {
    .tab-menu ul li{
        width: 32%;
    }
}
@media (max-width:768px) {
    .tab-menu ul li{
        width: 50%;
    }
}

.tab-menu ul li a{
    font-size: 18px;
    color: #fff;
    display: block;
}
.tab-menu ul li:nth-child(1){
   
}
.tab-menu ul li:last-child{
    border-left: none;

}
.tab-menu ul li.on{
    background: #fff;
    color: #000;
}
.tab-menu ul li.on a{
    color: #000;
    font-weight: 600;
}
/* .tab-menu ul li:hover{
    background: #fff;
    color: #000;
}
.tab-menu ul li:hover a{
    
} */
.tab-menu4 ul li{
    float: left;
    width: 50%;
    box-sizing: border-box;

    padding: 16px 0;
    text-align: center;
    background: #fff;
}
/*sub tab 4개일때*/

.tab-menu{
    width: 100%;
    border-radius: 5px;
    background: linear-gradient( to top, #6F3E99, #654567 );
    box-sizing: border-box;
    border-radius: 0;
    /* margin-top: -38px; */
    /* padding: 7px; */
    text-align: center;
}
.tab-menu4 ul li{
    float: left;
    width:20%;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    padding: 16px 0;
    text-align: center;
    background: #fff;
}
.tab-menu4 ul li:nth-child(1){
   
}
.tab-menu4 ul li:nth-child(2){
    border-right: none;
    border-left: none;
}
.tab-menu4 ul li:last-child{
    border-left: none;
    
}
.tab-menu ul li.on{
    background: #fff;
    color: #000;
}
.tab-menu ul li.on a{
    color: #000;
    font-weight: 600;
}
/* .tab-menu ul li:hover{
    background: #fff;
    color: #000;
}
.tab-menu ul li:hover a{
    color: #000;

} */

/*sub tab 3개일때*/
.tab-menu3 ul li{
     box-sizing: border-box;
 
    padding: 20px 0;
    text-align: center;
  
}

.tab-menu3 ul li:nth-child(2){

    border-left: none;
}
.tab-menu2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

@media (max-width:480px) {
    .tab-menu2 ul{
        flex-direction: column;
    }
}
.tab-menu2 ul li{

    box-sizing: border-box;

    padding: 20px 0;
    text-align: center;

}

@media (max-width:480px) {
    .tab-menu2 ul li{
        width: 100%;
        padding: 15px 0;
    }
}

.tab-menu2 ul li:nth-child(2){

    border-left: none;
}

@media (max-width:1400px){
    .arrow-btn{display:none;}
    .small-media {
        font-size:14px !important;
    }
}


@media (max-width:768px){
    .txt2 {
        font-size:14px;
    }
    br {
        /* display: none; */
    }
    .main-se-title h4 {
    text-align: center;
    font-size:18px;
    font-weight:600;
    padding:0;
        margin-top:100px;
    box-sizing: border-box;
        
    
}
   
.munhwa-number {
    color:#65aadd;color:#65aadd;
}
/*    .m-language{display:block; background:#dcdcdc;}*/
    #content {min-width: 320px;}
    #header{min-width: 320px; box-shadow:0px 0px 0px transparent; border-bottom: 1px solid #000;}
    #top-nav{min-width: 320px; display:block;}
    .gnbWrap nav{min-width:320px;}
	.row {padding: 0;box-sizing: border-box;} 
    .nav{display: none;}
    /* .bg{display: none;} */
    .hamburger{display: block;}
    .gnbMenu{display: none;}
    .nav-bg{display: none;}
    .all-toggle{display: none;}
    /* .language{top:50%; transform: translateY(-50%); display:none;} */
    .gnbWrap h1{left:50%; transform: translateX(-50%);}

}
@media (max-width:650px){

    header > a {font-size: 12px; top: 28px; right: 10px;}
    .tab-menu4 ul li{width: 50%;}
    .tab-menu4 ul li:nth-child(1){border-radius: 3px 0px 0px 0px;}
    .tab-menu4 ul li:nth-child(2){border-radius: 0px 3px 0px 0px; border-right: 1px solid #ddd; border-left: none;}
    .tab-menu4 ul li:nth-child(3){border-radius: 0px 0px 0px 3px; border-top: none;}
    .tab-menu4 ul li:nth-child(4){border-radius: 0px 0px 3px 0px; border-top: none;}
    /* .tab-menu ul li a {
    font-size: 14px;
    color: #3c3c3c;
    white-space: nowrap;
    } */
    .small-media {
        font-size:8px;
    }     

}
@media (max-width:480px){
    .footer .txt-box p{text-align: center;}
    .footer .txt-box p br{display: none;}
    .small-media {
        font-size:12px !important;
    }     
        .sub-visual-tit2{font-size: 28px; !important}

}
@media (max-width:360px){
    .footer .txt-box p{text-align: center;}
    .footer .txt-box p br{display: none;}
    .small-media {
        font-size:10px !important;
    }     

}
